.section {
  background: rgba(239, 239, 239, 0.9);
  padding-top: 5.208vw;
}
.title {
  margin-bottom: 5.208vw;
}

.secondContainer {
  display: flex;
  gap: 4.11458333vw;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 2.604vw;
}
.thirdContainer {
  display: flex;
  gap: 1.0416vw;
  flex-wrap: nowrap;
  margin-top: 2.604vw;
}
.thirdContainer > div {
  /* width: calc(50% - 1.3vw); */
  width: 50%;
}
.video2 {
  min-width: 12.239vw;
  height: 14.06vw;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5208vw;
}
.fourthContainer {
  margin-top: 2.604vw;
  display: flex;
  flex-wrap: nowrap;
  gap: 2.2916vw;
}
.fourthContainer > div:first-child {
  width: 53.385vw;
}
.fourthContainer > div:nth-child(2) {
  width: 22.6vw;
}
.video3 {
  min-width: 21.04vw;
  height: 23.9vw;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5208vw;
}
.lastContainer {
  margin-bottom: 2.604vw;
}
.video4 {
  min-width: calc(50% - 1.8229vw);
  height: auto;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5208vw;
}

@media screen and (max-width: 768px) {
  .section {
    padding-top: 43px;
  }
  .title {
    margin-bottom: 43px;
  }
  .secondContainer {
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
  }
  .thirdContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
  }
  .thirdContainer > div {
    width: 100%;
  }
  .fourthContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .fourthContainer > div:first-child {
    width: 100%;
  }
  .fourthContainer > div:nth-child(2) {
    width: 100%;
  }
  .lastContainer {
    margin-bottom: 50px;
    /* padding-bottom: 30px; */
  }
  .video2 {
    height: 100%;
    border-radius: 7.5px;
  }
}
